<h2>Admin Dashboard</h2>

<h3>Resources</h3>
<div *ngFor="let r of resources" style="margin-bottom: 10px; padding:5px; border: 1px solid #ccc;">
  <p>{{ r.title }} — <a [href]="r.link" target="_blank">{{ r.link }}</a></p>
  <button (click)="deleteresource(r._id)">Delete</button>
</div>

<h3>Experiences</h3>
<div *ngFor="let e of experiences" style="margin-bottom: 10px; padding:5px; border: 1px solid #ccc;">
  <p>{{ e.company }} — {{ e.content }}</p>
  <button (click)="deleteexperience(e._id)">Delete</button>
</div>